.item-list {
  background-color:#e2e2e2;
  width: 20em;
  position: sticky;
  float:left;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  color: white;
}

.items {
  text-align: center;
  background-color: white;
  border: 1px solid black;
}
.items-used {
  text-align: left;
  background-color: grey;
  opacity: 0.5;
  border: 1px solid black;
}

.item {
  color: black;
  border: 1px solid black;
}

.left {
  float: left;
  text-align: left;
}

.right {
  text-align: right;
}